
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
    <div class="info-box blue-bg">
        <i class="fa fa-cloud-download"></i>
        <div class="count">@ViewBag.NumberOfArticles</div>
        <div class="title">Makale Sayısı</div>
    </div>
</div>

<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
    <div class="info-box brown-bg">
        <i class="fa fa-shopping-cart"></i>
        <div class="count">@ViewBag.NumberOfCategories</div>
        <div class="title">Kategori Sayısı</div>
    </div>
    <!--/.info-box-->
</div>
<!--/.col-->

            

<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
    <div class="info-box dark-bg">
        <i class="fa fa-thumbs-o-up"></i>
        <div class="count">@ViewBag.NumberOfComments</div>
        <div class="title">Yorum Sayısı</div>
    </div>
    <!--/.info-box-->
</div>
<!--/.col-->

<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
    <div class="info-box green-bg">
        <i class="fa fa-cubes"></i>
        <div class="count">@ViewBag.NumberOfVisitorComments</div>
        <div class="title">Ziyaretçi Yorum</div>
    </div>
    <!--/.info-box-->
</div>
<!--/.col-->
